/* Main body Settings */

.sectionHeading {
    float: left;
    border-right: 2px solid rgb(100, 149, 237);
    margin-right: 15px;
    padding-right: 15px;
}


/* Nav Bar Settings */
.navbar {
    padding: 0px;
}

.nav-ul {
    float: right;
}

#mainNav {
    background-color: rgb(100, 149, 237);
}

#mainNav a {
    color: white;
    padding: 20px;
}

#mainNav a:hover,
a:focus {
    color: whitesmoke;
}

/* Hero Image Jumbotron Settings */

.heroBackground {
    background-image: url(../images/edgarsHeroImage.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 35%;
    height: calc(90vh - 25px);
    display: flex;
    align-items: end;
}

.heroBackground h1 {
    color: white;
    text-align: start;
}

/* Work Card Settings */

.cardContainer {
    display: flex;
    margin-bottom: 30px;
}

.btn {
    background-color: rgb(100, 149, 237);
}

.btn :hover {
    box-shadow: 5px 20px 40px blue;
}

/* Skills Section Settings */

.ulFirst {
    padding-left: 0%;
}

/* About Me Section Settings */

.aboutMe {
    margin-top: 30px;
    margin-bottom: 50px;
}

.aboutMe h2 {
    margin-left: -20px;
}

/* Footer Settings */

.footer {
    background-color: rgb(100, 149, 237);
    color: white;
    text-align: center;
}

.footer a {
    color: white;
}

.footer a:hover,
a:focus {
    color: whitesmoke;
}

.fa {
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}



/* Navbar troubleshoot. This line of code below was provided by ASK BCS Learning Assistant */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
        flex-basis: auto;
    }
}

/* Changing some border settings for h2 on mobile screens*/
@media only screen and (max-width:425px) {
    .sectionHeading {
        float: left;
        border-bottom: 2px solid rgb(100, 149, 237);
        border-right: none;
        margin-right: 15px;
        padding-right: 15px;
    }
}